.piano{
  background-image: url('../assets/images/piano.png');
  display: flex;
  align-items: start;
  h2{
    color: white;
    font-size: 3em;
    width: 40%;
    text-align: center;
    margin-top: 4em;
  }
}

