@import './logo.scss';
.hearer{
  max-width: $desktop;
  margin: 0 auto;
}
.navigation {
  width: 80%;
  font-size: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
  .navigation-block {
    width: 25rem;
  @media screen and (max-width: $tablet) {
    visibility: hidden;
    height: 0;
  }
    .navigation-items {
      justify-self: end;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0;
      gap: 5rem;
      .navigation-item{
        display: inline-block;
        position: relative;
        text-shadow: 0.1rem 0.1rem 0px rgba(61,26,16,0.67);
        transition: 0.4s;

        &::after {
          content: ' ';
          position: absolute;
          bottom: -5px;
          left: 0;
          height: 2px;
          width: 0%;
          background-color: $color-font;
          transition: 0.3s ease-in-out;
        }

        @media(hover: hover) {
          &:hover {
            scale: 0.99;
            text-shadow:none;
          &::after {
            width: 100%;
          }
          }
        }
      }
    }
  }
}

.active-menu {
  &::after {
    width: 100% !important;
  }
}