.main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  //max-width: $desktop;
  //margin: 0 auto;
  width: 98.9vw;
  height: 100vh;
  background-image: url(../assets/images/coastal.svg);
  background-attachment: fixed; /* Это важно для эффекта параллакса */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    margin:2em 0;
    align-self: flex-start;
    font-size: 10em;
    font-weight: 400;
        @media screen and (max-width: $desktop) {
      margin: 0.2em;
    }
  }
  .wave{
    position: absolute;
    bottom: 0;
    width: 99.9%;
    background-image: url(../assets/images/Vector.svg);
    background-size: cover;
    height: 22em;
  }
}

@keyframes tiltBG {

  from {
    background-position: center;
  }

  to {
    background-position: top;
  }
  
}