.show-modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10vh;
  height: 80vh;
  width: 80vw;
  left: 8vw;
  background-color: $color-background;
  border-radius: 1em;
  border: 1px solid black;
  box-shadow: 1em 1em 0.5em 0.1em black;
}

.cross{
  font-size: large;
  border: 1px solid black;
  border-radius: 50%;
  width: fit-content;
  padding: 0.5em 0.7em;
  margin: 0.5em;
  place-self: end;
  transition: 0.5s;
  cursor: pointer;
}

  @media(hover:hover){
    .cross:hover{
      scale: 1.1;
    }
  }

  .modal-wrapper{
     font-size: 5em;
     text-align: center;
     ul{
      padding: 0;
     }
    }