.other{
  margin: 3em auto;
  width: 84%;
  .other-participant{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 1em;
    -webkit-box-shadow: 7px 7px 16px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 16px 2px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 2px rgba(0,0,0,0.75);
    padding: 5em;
    row-gap: 1em;
    gap: 3.5em;
    .other-card{
      display: flex;
      flex-direction: column;
      width: 10rem;
      border: 1px solid black;
      border-radius: 1em;
      padding: 1em;
      font-size: 1.5em;
      img{
        width: 100%;
        height: 60%;
        border-radius: 1em;
      }
      p {
        margin: 0;
      }
      h3{
        margin: 0em;
      }
    }
  }
}